<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">
 </head>
<body>
  <div id="page">
    <header>
      <div id='headerArea'>
        <div id='topColorArea'></div>
        <div id='logoArea'>
          <img id='jnlclogo' src="img/logo.gif">
        </div>
        <div id='gnaviArea'>
          <ul id='clearfix'>
            <li class='gnaviButton' id='gnaviAbout'>
              <a class='gnaviImage' href="index" title="About us">About us</a>
            </li>
            <li class='gnaviButton' id='gnaviLocation'>
              <a class='gnaviImage' href="location" title="Location">Location</a>
            </li>
            <li class='gnaviButton wide' id='gnaviLink'>
              <a class='gnaviImage' href="link" title="Reference link">Reference link</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div id='mainContents'>
    {{ content }}
    </div>
    <footer>
      <div id='footerArea'>
        <div id='bottomColorArea'>
          <p id='copyright'>
            Copyright © 2009-2023 Japan National Research Institutes Library Consortium. All rights reserved.
          </p>
          <p id='support'>
            This site is developed and supported by National Institute for Materials Science, Tsukuba, Japan.
          </p>
        </div>
        <div id='bannerArea'>
          <a class='bannerIcon' href='https://www.jamstec.go.jp/e/'><img src='img/banner_jamstec.gif' alt='jamstec'></a>
          <a class='bannerIcon' href='https://www.nims.go.jp/eng/index.html'><img src='img/banner_nims.gif' alt='nims'></a>
          <a class='bannerIcon' href='https://www.bosai.go.jp/e/'><img src='img/banner_nied.gif' alt='nied'></a>
          <a class='bannerIcon' href='https://www.aist.go.jp/index_en.html'><img src='img/banner_aist.gif' alt='aist'></a>
          <a class='bannerIcon' href='https://www.jaea.go.jp/english/index.html'><img src='img/banner_jaea.gif' alt='jaea'></a>
          <a class='bannerIcon' href='https://global.jaxa.jp/'><img src='img/banner_jaxa.gif' alt='jaxa'></a>
          <a class='bannerIcon' href='https://www.riken.jp/en/'><img src='img/banner_riken.gif' alt='riken'></a>
          <a class='bannerIcon' href='https://www.qst.go.jp/site/nirs-english/'><img src='img/banner_qst_nirs.gif' alt='qst'></a>
          <a class='bannerIcon' href='https://www.nies.go.jp/index-e.html'><img src='img/banner_nies.gif' alt='nies'></a>
          <a class='bannerIcon' href='https://itcweb.cc.affrc.go.jp/affrit/start'><img src='img/banner_affrit.gif' alt='affrit'></a>
          <a class='bannerIcon' href='https://www.naro.go.jp/english/index.html'><img src='img/banner_naro.gif' alt='naro'></a>
          <a class='bannerIcon' href='http://www.nilim.go.jp/english/eindex.htm'><img src='img/banner_nilim.gif' alt='nilim'></a>
          <a class='bannerIcon' href='https://www.kek.jp/en/'><img src='img/banner_kek.gif' alt='kek'></a>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
